.container {
  padding: 0px 10% 0px 10%;
}

.tile {
  width: 20%;
  float: left;
  font-size: 14pt;
  margin: 2%;
  border: solid;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.button {
  float: left;
  margin: 20px;
}

.attributes {
  width: 50%;
  margin-top: 20px;
  font-size: 14pt;
  border: solid;
  box-sizing: border-box;
  padding: 10px;
}
